h3 {
    color: #FF9C00;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-weight: 800;
    margin-top: 10px;
}

/* Form Styling */
#profile-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #F6AB2A;
    max-width: 400px;
    width: 100%;
    margin-left: 260px;
    margin-top: 30px;
}

.form-floating {
    margin-bottom: 20px;
}

.form-control {
    border: 2px solid transparent;
    border-bottom: 2px solid #ced4da;
    border-radius: 0;
    padding: 12px 15px;
    transition: all 0.3s ease-in-out;
    font-size: 1em;
}

    .form-control:focus {
        border-bottom-color: #007bff;
        box-shadow: none;
    }

/* Button Styling */
#update-profile-button {
    background-color: #FF9C00;
    border: none;
    padding: 12px 0;
    margin-top: 20px;
    color: white;
    font-size: 1.2em;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

    #update-profile-button:hover {
        background-color: #D38100;
        transform: translateY(-3px);
    }

/* Error and Validation Message Styling */
.text-danger {
    color: #f5365c;
    font-size: 0.9em;
}

/* Responsive Layout */
@media (max-width: 768px) {
    #profile-form {
        margin: 10px;
        padding: 20px;
    }

    .col-md-6 {
        width: 100%;
        padding: 0;
    }

    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

    .container {
        margin-bottom: 50px
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.10rem
    }

    .card-header:first-child {
        border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    }

    .track {
        position: relative;
        background-color: #ddd;
        height: 7px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 60px;
        margin-top: 50px
    }

        .track .step {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            width: 25%;
            margin-top: -18px;
            text-align: center;
            position: relative
        }

            .track .step.active:before {
                background: #FF5722
            }

            .track .step::before {
                height: 7px;
                position: absolute;
                content: "";
                width: 100%;
                left: 0;
                top: 18px
            }

            .track .step.active .icon {
                background: #ee5435;
                color: #fff
            }

        .track .icon {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            position: relative;
            border-radius: 100%;
            background: #ddd
        }

        .track .step.active .text {
            font-weight: 400;
            color: #000
        }

        .track .text {
            display: block;
            margin-top: 7px
        }

    .itemside {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%
    }

        .itemside .aside {
            position: relative;
            -ms-flex-negative: 0;
            flex-shrink: 0
        }

    .img-sm {
        width: 80px;
        height: 80px;
        padding: 7px
    }

    ul.row, ul.row-sm {
        list-style: none;
        padding: 0
    }

    .itemside .info {
        padding-left: 15px;
        padding-right: 7px
    }

    .itemside .title {
        display: block;
        margin-bottom: 5px;
        color: #212529
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem
    }

    .btn-warning {
        color: #ffffff;
        background-color: #ee5435;
        border-color: #ee5435;
        border-radius: 1px
    }

        .btn-warning:hover {
            color: #ffffff;
            background-color: #ff2b00;
            border-color: #ff2b00;
            border-radius: 1px
        }